*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
*/settings/local.py
public/static/
public/media/
secrets.sls*
*.log*
_build
*.swp
.ipynb_checkpoints
*.tar
conf/pillar/*/deploy
*.priv
.env
*.cert*
*.key*
logfile
school_navigator/*/
pip-selfcheck.json
.Python
