body {
    margin: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
#logo {

}
#logo h1 {
    display: inline;
    position: relative;
    top: -4px;
    font-size: 24px;
}
#logo #icon {
    width: 26px;
    margin-top: 15px;
    margin-left: 29px;
}

#main-menu {
    position: absolute;
    z-index: 1000000;
    top: 20px;
    right: 40px;
    background: white;
}
#main-menu .nav-pills>li>a {
    border-radius: 0px;
}
#main-menu .nav-pills>li.active>a {
    background-color: white;
    font-weight: bold;
    color: #000;
}
#search-form {
    position: absolute;
    z-index: 1000000;
    top: 20px;
    left: 40px;
    width: 460px;
}
#search-form button {
    padding: 10px 24px;
    font-size: 16px;
    margin-left: 2px;
}

#search-box {
    width: 320px;
    height: 44px;
    font-size: 18px;
}
#schools-wrapper {
    position: absolute;
    z-index: 1000000;
    top: 85px;
    left: 40px;
    width: 396px;
    background: white;
    max-height: 800px;
}

#my-schools {
    background: white;
    overflow-y: auto;
}

#my-schools h3 {
    color: #fff;
    padding: 10px 15px;
    margin: 0px;
    text-transform: capitalize;
}

#my-schools h3.elementary {
    background-color: #48BC6B;
}

#my-schools h3.middle, #my-schools h3.secondary {
    background-color: #3F899E;
}

#my-schools h3.high {
    background-color: #4F61AD;
}

.school-group .school-group-item {
    background-color: transparent;
    overflow: hidden;
    border: 0;
    border-radius: 0;
    padding: 0 16px;
    position: relative;
}

.school-group .school-group-item:hover {
    cursor: pointer;
}

.school-group .school-group-item .distance {
    position: absolute;
    font-size: 11px;
    right: 16px;
    top: 18px;
    color: #666;
}

.school-group .school-group-item img.photo {
    text-align: center;
}

/* http://paletton.com/#uid=53o0u0kjPvU9VPsfmFjnPsIrNn+ */

.school-group.elementary .school-group-item:hover {
    background-color: #9FE7B5;
}

.school-group.middle .school-group-item:hover, .school-group.secondary .school-group-item:hover {
    background-color: #9ACDDC;
}

.school-group.high .school-group-item:hover {
    background-color: #A4B0E2;
}

.school-group-item.detail:hover{
    background: white!important;
}

.school-group .school-group-item .school-group-item-heading {
    margin: 10px 0px;
    vertical-align: middle;
}

.school-group .school-group-item .school-group-item-heading h4 {
    display: inline;
    font-size: 20px;
    line-height: 29px;
}

.school-group .school-group-separator {
    content: "";
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    float: right;
}
.school-group .school-group-item.last .school-group-separator {
    border-bottom: none;
}

.compare-schools button {
    margin-right: 5px;
}
#map {
    width: 800px;
    height: 400px;
}
#map .fa-home {
    color: rgb(24, 24, 24);
}

.leaflet-left {
    right: 20px!important;
}

.leaflet-top {
    bottom: 30px!important;
}

.school_point {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #ff8888;
    text-align:center;
    line-height:40px;
    border:5px solid rgba(255,255,255,0.5);
    color: white;
}

.school_point.elementary {
    background: #48BC6B;
}

.school_point.middle {
    background: #3F899E;
}

.school_point.secondary {
    background: #3F899E;
}

.school_point.high {
    background: #4F61AD;
}

.school_point.magnet {
    border:5px solid rgba(255,174,139,1.0);
}

.school_point.year-round {
    border:5px solid rgba(239,131,162,1.0);
}

.school-badge {
    padding: 2px;
    font-weight: bold;
    font-size: 10px;
}

.school-badge.magnet {
    background-color: #FFAE8B;
    border:2px solid rgba(255,255,255,0.5);
}

.school-badge.year-round {
    background-color: #EF83A2;
    border:2px solid rgba(255,255,255,0.5);
}

div#schools-wrapper ul.nav li a {
    color: #333;
    background-color: #EFEFEF;
    border-bottom: none;
    border-radius: 0;
    border-color: #EFEFEF;
    font-size: 16px;
    cursor: pointer;
}


div#schools-wrapper ul.nav li:last-child a {
    border-left: none;
}

div#schools-wrapper ul.nav li.active a, div#schools-wrapper ul.nav li a:hover {
    font-weight: bold;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000;
}
.detail .distance {
    position: absolute;
    font-size: 11px;
    right: 10px;
    top: 10px;
    color: #666;
}
.detail .close {
    z-index: 1000;
}
.detail .close:after {
    content: "X";
}
