//***************************************************//
//****************** School Colors ******************//
//***************************************************//

// elementary schools
$elem: #48BC6B;
//hover and active
$elemHov: #9FE7B5;

// middle and secondary schools
$middle: #3F899E;
//hover and active
$middleHov: #9ACDDC;

// high schoos
$high: #4F61AD;
//hover and active
$highHov: #A4B0E2;

//school group seperator
//transparent black
$blacktrans: rgba(0, 0, 0, 0.1);

//school group distance
$blue: #666;

//shades of white
$white: white;
$fff: #fff;
$efe: #EFEFEF;

//black
$black: #000
