<h1>About Us</h1>
	<strong>Please take our user survey (link to be added) to help design Phase 2 of this beta project!</strong>
	<br><br>
	This project is built and maintained by <a href="http://codefordurham.com" target="_blank">Code for Durham</a>, a local volunteer brigade of the national non-profit <a href="http://www.codeforamerica.com/brigade" target="_blank">Code for America</a>. We are collaborating with the Durham Public School Parent-Teacher Association (PTA) Council and Strong Durham Schools to improve this resource for parents.
	<br><br>
	Our goal is to remove some of the confusion parents have faced in understanding the local public school system, improving on <a href="http://www.dpsnc.net/pages/Durham_Public_Schools/Our_Schools/Find_Your_School">existing DPS web resources</a>. We primarily had parents or prospective parents in mind who are seeking to understand how their residential choice will impact where their kids can go to school. These parents might be considering a move to Durham, or looking to move within Durham. The project is divided into 2 phases:
		<ul>
			<li><strong>Phase 1</strong>: Simplify school zoning implications (beta phase; collecting feedback)</li>
			<li><strong>Phase 2</strong>: Provide relevant data to inform school decisions (collecting user input)</li>
		</ul>
	In many respects, this website could be considered an economic development tool, helping make it easier for parents to make informed choices about moving ot Durham versus other surrounding jurisdictions.
	Code for Durham projects are all open source and we encourage and welcome contributions in the form of user feedback, web development.
	<br>
<h2>Resources for Parents</h2>
<ul>
	<li> <a href="https://www.facebook.com/DurhamPtaCouncil">Durham Parent Teach Association Council</a></li>
	<li> <a href="http://www.strongdurhamschools.com/">Strong Durham Schools</a></li> 
	<li> <a href="http://www.dpsnc.net">Durham Public School website </a></li>
	<li> <a href="http://dpsncapplication.com/">Durham Magnet School website</a></li>
	<li> <a href="http://www.ncpublicschools.org/charterschools/schools/by-county/alphabet-county?range=A-E&&alpha1=A&&alpha2=B&&alpha3=C&&alpha4=D&&alpha5=E&&alpha6=">NC Charter School website</a></li>
</ul>
<h2>Resources for Developers</h2>
<ul>
	<li> <a href="https://waffle.io/codefordurham/school-navigator">Project Management Dashboard (Waffle.io)</a></li>
	<li> <a href="http://school-navigator.readthedocs.org/en/latest/">Documentation</a></li>
	<li> <a href="https://github.com/codefordurham/school-navigator">Github</a></li>
