<simple-nav></simple-nav>

<div class="container">
<h1>About Us</h1>
<div class="row">
    <div class="col-md-8">
	<p class="text-success">
	<strong>Please <a href="http://bit.ly/schoolnavsurvey" target="_blank">take our user survey</a> to help design Phase 2 of this project!</strong>
	</p>
	This website is a project of <a href="http://codefordurham.com" target="_blank">Code for Durham</a>, a local volunteer brigade of the national non-profit <a href="http://www.codeforamerica.com/brigade" target="_blank">Code for America</a>. We are a collection of public school parents and concerned citizens with who want help parents understand the public school system in Durham by supplementing <a href="http://www.dpsnc.net/pages/Durham_Public_Schools/Our_Schools/Find_Your_School">existing DPS web resources</a>.
	<br><br>
	Our goals in this effort are two-fold: 
	<ul>
		<li>Help parents understand the public schools available to their family and make informed schooling decisions based on accurate and complete information</li>
		<li>Provide a common platform for all public schools to share information about their offerings and accomplishments with parents.</li>
	</ul>
	Through this project, we strive to uphold our core values:
	<ul><li>Collaboration</li>
	<li>Transparency</li>
	<li>User-friendliness</li>
	</ul>
	The project is divided into 2 phases:
	<ul>
		<li><strong>Phase 1</strong>: Clarify school zoning questions with an intuitive mapping tool.</li>
		<li><strong>Phase 2</strong>: Inform school decisions through comprehensive profiles that include information about each schools' curriculum and philosophy, lottery process, academic performance, teacher retention and much more.</li>
	</ul>
<p class="text-warning">
	We are currently collecting feedback for phase one and user input for phase two. <u>Please note that we have not yet formally launched the site and are still testing for accuracy and completeness.</u>
</p>
	In many respects, this website could be considered an economic development tool, helping make it easier for parents to make informed choices about moving to Durham versus other surrounding jurisdictions.
	
	Code for Durham projects are all open source and we encourage and welcome contributions in the form of user testing, school system partnership, and web development support.
	<br>
    </div>
    <div class="col-md-4">
        <!--
        <div style="background-size: cover; background-image:url('img/cfd-logo.png'); height: 50px" class="container img-responsive">
        </div>
        -->
        <a href="http://codefordurham.com/">
        <img src="img/cfd-logo.png" alt="Go to Code for Durham Website" style="height: 100px; margin-left: auto; margin-right: auto; display: block;" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
<h2>Resources for Parents</h2>
<ul>
	<li> <a href="https://www.facebook.com/DurhamPtaCouncil">Durham Council of PTAs</a></li>
	<li> <a href="http://durhamgoestokindergarten.com/">Durham's Transition to Kindergarten Initiative</a></li>
	<li> <a href="http://www.strongdurhamschools.com/">Strong Durham Schools</a></li> 
	<li> <a href="http://www.dpsnc.net">Durham Public School website </a></li>
	<li> <a href="http://dpsncapplication.com/">Durham Magnet School website</a></li>
	<li> <a href="http://www.ncpublicschools.org/charterschools/schools/by-county/alphabet-county?range=A-E&&alpha1=A&&alpha2=B&&alpha3=C&&alpha4=D&&alpha5=E&&alpha6=">NC Charter School website</a></li>
</ul>
</div>
<div class="col-md-6">
<h2>Resources for Developers</h2>
<ul>
	<li> <a href="https://waffle.io/codefordurham/school-navigator">Project Management Dashboard (Waffle.io)</a></li>
	<li> <a href="http://school-navigator.readthedocs.org/en/latest/">Documentation</a></li>
	<li> <a href="https://github.com/codefordurham/school-navigator">Github</a></li>
    </ul>
</div>
</div>
</div>
