<simple-nav></simple-nav>

<div class="jumbotron">
  <div style="background-size: cover; background-image:url('img/mural.jpg'); height: 500px; opacity: .75;" class="container img-responsive img-circle">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <h3>Research Triangle Charter Academy</h3>
        <p>Admissions will be open online October 1 through the last business day in February at 5:00 p.m.</p>
    </div>
    <div class="col-md-4">
        <h3>Idyl School</h3>
        <p>Applications will be made available online and at the school throughout the dates of December 2 through April 1</p>
    </div>
    <div class="col-md-4">
        <h3>RTP High School</h3>
        <p>Applications will be open online and at the school January 13th through March 6th. RTHS will hold a public lottery on Friday March 13th at 5 pm.  Acceptances will be due within two weeks. </p>
    </div>
    <div class="col-md-4">
        <h3>Central Park</h3>
        <p>(K-5): March 6, 2015. Applications online are due March 6, 2015. Lottery for the 2015-16 school year will be held on Tuesday, March 10, 2015. </p>
    </div>
    <div class="col-md-4">
        <h3>Voyager Academy</h3>
        <p>(K-12): Admissions will be open online January 1 through the last business day in February. Lottery will be held on March 12, 2015. APPLY FOR GRADES K-3  |  APPLY FOR GRADES 4-8  |  APPLY FOR GRADES 9-12 |  Spanish Online Application</p>
    </div>
    <div class="col-md-4">
        <h3>Reaching All Minds</h3>
        <p>(K-3): No due dates are currently provided online. RAM Academy will open to 144 students in grades K-3 and will add one grade level each year until it is a K-5 school in 2016-17.  The maximum enrollment is expected to be 250 students in 2018-19.  RAM Academy is open to any student who is a resident of North Carolina. English Application  |  Spanish Application </p>
    </div>
    <div class="col-md-4">
        <h3>Maureen Joy</h3>
        <p>(K-8): Lottery on March 16. Admissions Lottery Policy</p>
    </div>
    <div class="col-md-4">
        <h3>Kestral Heights</h3>
        <p>(K-12): Applications (available for download) accepted October 1 through March 5. Lottery drawing will be held on March 6, 2015. Applications may be emailed to Ms. Vargas atvargas@kestrelheights.org, faxed to the admissions office at 919-572-2409, mailed or dropped off to Ms. Vargas.</p>
    </div>
    <div class="col-md-4">
        <h3>Healthy Start</h3>
        <p>(K-8): Enrollment Application 2015-2016 (printout)  |  Enrollment Application 2015-2016 (e-form)  |  Solicitud De Inscripción Inicial 2015-2016 (printout) </p>
    </div>
  </div>
<hr>
<footer> <p>&copy; Code For Durham 2015</p> </footer>
</div>
