<simple-nav></simple-nav>

<div class="container school-detail-page">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ school.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">{{ school.school_type }} &mdash; Grades {{ school.grades }} &mdash;</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="school-details">
                <h2>Mission</h2>
                <div class="">
                {{ school.profile.mission_statement }}
                </div>
                <h2>Points of Pride</h2>
                <div class="">
                    <ol>
                        <li data-ng-repeat="point in school.points_of_pride">{{ school.profile.points_of_pride1 }}</li>
                        <li data-ng-repeat="point in school.points_of_pride">{{ school.profile.points_of_pride3 }}</li>
                        <li data-ng-repeat="point in school.points_of_pride">{{ school.profile.points_of_pride3 }}</li>
                    </ol>
                </div>
          <h2>School Services</h2>
          <p>This school provides the following services to students:</p>
            <p><strong>Transportation: </strong> <span title="Transportation provided">{{ school.profile.transportation_display }}</span></p>
            <p><strong>Lunch: </strong><span title="Lunch provided">{{ school.profile.lunch_served }}</span></p>
            <p><strong>Breakfast: </strong><span title="Breakfast provided">{{ school.profile.breakfast_served }}</span></p>
            </div>
        </div>

        <div class="col-md-6">
            <img data-ng-src="{{ school.photo }}" />
        </div>
    </div>

    <div class="row at-a-glance">
        <div class="col-md-12">
          <h2>At a Glance</h2>
        </div>
        <div class="col-md-6">
            <p><strong>Address: </strong> {{ school.address }}</p>
            <p><strong>Phone Number: </strong> {{ school.phone_number }}</p>
            <p><strong>Website: </strong> <a href="http://{{ school.website }}">{{ school.website }}</a></p>
            <p><strong>Year Opened: </strong> {{ school.profile.year_opened }}</p>
            <p><strong>Calendar: </strong> {{ school.calendar_year }}</p>
        </div>
        <div class="col-md-6">
            <p><strong>Theme: </strong> {{ school.profile.theme }}</p>
            <p><strong>Average Class Size: </strong> {{ school.avg_class_size }} students</p>
            <p><strong>Uniform: </strong> {{ school.profile.uniform_required }}</p>
            <p><strong>School Day: </strong> {{ school.school_hours }}</p>
            <p><strong>Extended Care Hours: </strong>{{ school.services.extended_care_hours }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>School Leadership</h2>

            <div class="bio">
                <h3>{{ school.school_leadership.name }}</h3>
                <p class="lead" title="Year of service">(since {{ school.school_leadership.years_of_service }})</p>
                <div class="">
                    {{ school.school_leadership.bio }}
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <h2>Teacher Satisfaction</h2>
            <p>The following percentage of teachers responded that they "agree" or "strongly agree" to the following statements</p>
            <div class="metrics">
                <div class="metric" data-ng-repeat="(question, percentage) in school.teacher_satisfaction">
                    <p class="score">{{ percentage.0 }}%</p>
                    <p><em>{{ question }}</em></p>
                    <div class="avgline">
                        <span class="actual" style="width:{{ percentage.0 }}%;"></span>
                        <span class="avg" style="left:{{ percentage.1 }}%;">|<br>Durham Public Schools Avg.</span>
                    </div>
                </div>
            </div>
            <p><small>{{ school.survey.percent }}% of {{ school.name }}'s teachers answered these questions and more in the <a href="{{ school.survey.link }}">{{ school.survey.year }} {{ school.survey.name }}</a></small>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Admission Policy</h2>
            <div class="">
              <p>{{ school.profile.admissions_policy_type }}</p>
              <p><strong>Lottery Priorities</strong>:</p>
              <ol>
                <li data-ng-repeat="priority in school.admission_policy.lottery_priorities">{{ priority.name }} {{ priority.desc }}</li>
              </ol>
                <p><strong>Acceptance rate</strong></p>
                <p>{{ school.admission_policy.lottery_acceptance_rate }}</p>
                <p><strong>Deadline</strong></p>
                <p>{{ school.admission_policy.lottery_deadline }}</p>
                <p><strong>Applying</strong></p>
                <a class="btn btn-success" href="{{ school.admission_policy.learn_more }}">Learn more</a>
            </div>

        </div>
        <div class="col-md-6">
            <h2>Targeted Academic Offerings</h2>
            <div class="">
                <ul>
                  <li data-ng-repeat="offering in school.targeted_academics"><strong class="title-case">{{ offering.name }}</strong>: {{ offering.desc }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Parent Involvement</h2>

            <div class="">
                <p><strong>PTA: </strong>
                    <span data-ng-if="school.parent_involvement.pta">Yes</span>
                    <span data-ng-hide="school.parent_involvement.pta">No</span>
                </p>
                <p data-ng-if="school.parent_involvement.learn_more"><a href="{{ school.parent_involvement.learn_more }}">Learn more about this school's PTA</a></p>
            </div>

        </div>
        <div class="col-md-6">
            <h2>Extracurricular Offerings</h2>
            <ul>
              <li data-ng-repeat="offering in school.other_programs"><strong class="title-case">{{ offering.name }}</strong>: {{ offering.desc }}</li>
            </ul>
        </div>
    </div>

    <div class="row map-row">
        <div class="col-md-6">
            <h2>Reflections</h2>
            <p><a href="{{ school.reflection_link }}">Are you a parent or teacher at this school? Click here to share your own reflection.</a></p>

            <p data-ng-repeat="entry in school.reflections">{{ entry.reflection }}<br/>
            <i>{{ entry.who }}</i></p>
        </div>
        <div class="col-md-6">
            <leaflet class="content-row" id="leaflet-map" defaults="defaults" center="center" markers="markers" tiles="tiles" school="school" height=250 width=550></leaflet>
        </div>
    </div>
    <div class="row map-row">
        <div class="col-md-6">
            <p><a href="{{ school.report_card_link }}">To view the state report card for this school, click here.</a></p>
        </div>
    </div>
</div>
