<div id="map" data-user-location="userLocation" data-schools="schools" data-schools-map></div>

<div id="main-menu">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#navigating">Navigating DPS</a></li>
      <li><a href="#schools">School List</a></li>
      <li><a data-ng-href="#about">About</a></li>
    </ul>
</div>

<div id="search-form">
    <form class="form-inline">
        <input data-ng-model='address' class="form-control" id="search-box" placeholder="Type your address">
        <button class="btn btn-primary" data-ng-click="relocate()">Search</button>
    </form>
</div>

<div id="schools-wrapper" data-ng-show="all_schools.length">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li data-ng-class="{active: eligibility == 'assigned'}"><a data-ng-click="filterSchools('assigned')">Assigned</a></li>
      <li data-ng-class="{active: eligibility == 'option'}"><a data-ng-click="filterSchools('option')">Option</a></li>
      <li data-ng-class="{active: eligibility == 'all'}"><a data-ng-click="filterSchools('all')">All</a></li>
    </ul>
    <div id="my-schools">
        <h4>Elementary</h4>
        <div data-ng-repeat="school in schools | filter:{'level': 'elementary'}" class="checkbox">
            <label>
                <input type="checkbox" /> {{ school.name }}
            </label>
        </div>

        <h4>Middle School</h4>
        <div data-ng-repeat="school in schools | filter:{'level': 'middle'}" class="checkbox">
            <label>
                <input type="checkbox" /> {{ school.name }}
            </label>
        </div>

        <h4>Secondary</h4>
        <div data-ng-repeat="school in schools | filter:{'level': 'secondary'}" class="checkbox">
            <label>
                <input type="checkbox" /> {{ school.name }}
            </label>
        </div>

        <h4>High School</h4>
        <div data-ng-repeat="school in schools | filter:{'level': 'high'}" class="checkbox">
            <label>
                <input type="checkbox" /> {{ school.name }}
            </label>
        </div>
    </div>
    <div class="compare-schools clearfix">
        <button class="pull-right btn btn-success">Compare Schools</button>
    </div>
</div>
