<div id="main-menu">
    <div id='logo'>
        <object id='icon' data="img/marker.svg" type="image/svg+xml">
          <img src="img/marker.png" />
        </object>
        <h1 class='name'>Durham School Navigator</h1>
    </div>
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Home</a></li>
      <li data-ng-class="{active: tab_name == 'nav'}" data-ng-click="tab_name='nav';"><a href="#navigating">Navigating DPS</a></li>
      <li><a href="#schools">School List</a></li>
      <li><a data-ng-href="#about">About</a></li>
    </ul>
</div>
