<simple-nav></simple-nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div style="background-size: cover; background-image:url('img/mural.jpg'); height: 500px; opacity: .75;" class="container img-responsive img-circle">
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Traditional</h2>
      <p>All students in Durham County are zoned to a traditional public school. These neighborhood schools are assigned purely on the basis of your address and enrollment is guaranteed.  Some of them have a specific academic focus, such as a science-based curriculum, or specialty programs, such as a Spanish-immersion program. Explore the profiles on our site to learn more about these opportunities.</p>
      <p><a class="btn btn-default" href="#/navigating/neighborhood" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Magnet</h2>
      <p>Magnet schools offer either a more specialized education program or a year-round calendar. Note that not all Magnet schools have academic requirements. Among the specialized program magnets, there are 7 elementary, 5 middle, 7 high schools and 9 career pathway clusters. In some Magnet Schools, all classes are considered Optional, while others operate as a "school within a school", featuring some Optional and some traditional classrooms in each grade level.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Charter</h2>
      <p>Charter schools are public schools (and do not charge tuition), but operate more independently from their school districts than traditional public schools do, particularly in regard to things like curriculum, how to hire teachers (though all must be state-certified), or even the length of the school day or year. . Most accept students from anywhere in North Carolina, not just Durham. There are 10 such schools in Durham County covering grades K-8. All charters operating in North Carolina are not-for-profit. Some charters are single-site schools, while others are part of a larger charter management organization (CMO) that may operate multiple schools. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div> <!-- row -->
  <hr>
  <footer> <p>&copy; Code For Durham 2015</p> </footer>
</div> <!-- /container -->
