<simple-nav></simple-nav>

<div class="jumbotron">
  <div style="background-size: cover; background-image:url('img/mural.jpg'); height: 350px; opacity: .70;" class="container img-responsive">
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Neighborhood</h2>
      <p>All students in Durham County are zoned to a traditional public school. These neighborhood schools are assigned purely on the basis of your address and enrollment is guaranteed.  Some of them have a specific academic focus, such as a science-based curriculum, or specialty programs, such as a Spanish-immersion program. Explore the profiles on our site to learn more about these opportunities.</p>
      <p><a class="btn btn-default" href="#/navigating/neighborhood" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Magnet</h2>
      <p>Magnet schools offer either a more specialized education program or a year-round calendar. Note that not all Magnet schools have academic requirements. Among the specialized program magnets, there are 7 elementary, 5 middle, 7 high schools and 9 career pathway clusters. In some Magnet Schools, all classes are considered Optional, while others operate as a "school within a school", featuring some Optional and some traditional classrooms in each grade level.</p>
      <p><a class="btn btn-default" href="#/navigating/magnet" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Charter</h2>
      <p>Charter schools are public schools (and do not charge tuition), but operate more independently from their school districts than traditional public schools do, particularly in regard to things like curriculum, how to hire teachers (though all must be state-certified), or even the length of the school day or year. Most accept students from anywhere in North Carolina, not just Durham. There are 10 such schools in Durham County covering grades K-8. All charters operating in North Carolina are not-for-profit. Some charters are single-site schools, while others are part of a larger charter management organization (CMO) that may operate multiple schools. </p>
      <p><a class="btn btn-default" href="#/navigating/charter" role="button">View details &raquo;</a></p>
    </div>
  </div> <!-- row -->
   <div class="row">
    <div class="col-md-4">
    <h2>What is a <strong>walk zone</strong>?</h2>
      <p>A walk zone is an assignment preference that allows automatic assignment to students who live within one (designated safe walking) half mile of the schools that have this preference. Burton Magnet, Club Blvd Magnet and R.N.Harris Magnet Elementary are the only schools that have this assignment preference. A walk zone is not part of the lottery. It acts as an attendance zone, providing automatic assignment throughout the school year.</p>
    </div>
    <div class="col-md-4">
    <h2>What is a <strong>priority zone</strong>?</h2>
      <p>A priority zone is a designated area around the school that provides applicants who are domiciled in that area an assignment priority. This priority takes place when the lottery is conducted. It is not an automatic assignment, as there must be space available at the grade level requested. George Watts Montessori Magnet and Morehead Montessori Magnet are the only schools the have this assignment priority. An application must be submitted, ranking the identified school as the first choice.</p>
    </div>
    <div class="col-md-4">
    <h2>What is a <strong>choice zone</strong>?</h2>
      <p>A designated choice zone is an assignment priority that takes into account applicants who live within the choice zone. This preference takes place when the lottery is conducted. It is not an automatic assignment, as there must be space available at the grade level requested. Sandy Ridge Elementary is the only school that has this assignment priority. In addition, Sandy Ridge has an assignment priority is given to students who are domiciled in the attendance zones of the following schools: Easley, Eno Valley, Glenn, Hillandale, Holt, Little River and Mangum.</p>
    </div>
  </div> <!-- row -->
 <hr>
  <footer> <p>&copy; Code For Durham 2015</p> </footer>
</div> <!-- /container -->
