<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Durham School Navigator</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div style="background-size: cover; background-image:url('img/mural.jpg'); height: 500px; opacity: .75;" class="container img-responsive img-circle">
  </div>
</div>

<div class="container">
    <p>Test foo bar </p>
    <h3>To Register</h3>
    There is no need for a special application process, but you do need to
    register prior to enrollment. Entry into the traditional assigned schools
    is completely based on your address.

    <h3>Student Registration Packets</h3>
    <a href="http://www.dpsnc.net/files/_yNAV0_/89960fd031e3f3003745a49013852ec4/enrollment-packet-082113.pdf">English</a> /
        <a href="http://www.dpsnc.net/files/_yNAV4_/c795586477a8ac623745a49013852ec4/EnrollPacket_ESP.pdf">Spanish</a>
  <hr>
  <footer> <p>&copy; Code For Durham 2015</p> </footer>
</div> <!-- /container -->
