<simple-nav></simple-nav>

<div class="jumbotron">
  <div style="background-size: cover; background-image:url('img/mural.jpg'); height: 350px; opacity: .70;" class="container img-responsive">
  </div>
</div>

<div class="container">
    <p>Navigating Neighborhood Schools</p>
    <h3>To Register</h3>
    There is no need for a special application process, but you do need to
    register prior to enrollment. Entry into the traditional assigned schools
    is completely based on your address.

    <p>Get your Student Registration Packets in <a href="http://www.dpsnc.net/files/_yNAV0_/89960fd031e3f3003745a49013852ec4/enrollment-packet-082113.pdf">English</a> or <a href="http://www.dpsnc.net/files/_yNAV4_/c795586477a8ac623745a49013852ec4/EnrollPacket_ESP.pdf">Spanish</a>
    </p>
    <h3>Calendar</h3>
    <p>FIRST DAY - AUGUST 24, 2015<br>
    LAST DAY - JUNE 9, 2016
    </p>
    <p>Get the full 2015-16 Neighborhoo Staff/Student Calendars here: <a href="http://www.dpsnc.net/files/_5GDY5_/ffeeddbdd57eaacf3745a49013852ec4/2015-2016_Traditional_Calendar_Final.pdf">In English</a> - <a href="http://www.dpsnc.net/files/_5GDYm_/ea330a9738009ccd3745a49013852ec4/2015-2016_Traditional_Calendar_Final_Spanish.pdf">Spanish</a>
    </p>
  <hr>
  <footer> <p>&copy; Code For Durham 2015</p> </footer>
</div> <!-- /container -->
