{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="text-danger">
    {% if form.errors %}
    <div class="form-error alert alert-danger" role="alert">
        <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
        <ul>
        {% for field in form %}
            {% if field.errors %}
                <li><strong>{{ field.label }}: </strong>{{ field.errors|striptags }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<h1> {{ school.name }} School Profile </h1>
<ul>
    <li><b>Name:</b> {{ school.name }}</li>
    <li><b>School type:</b> {{ school.type }}</li>
    <li><b>Year round calendar:</b> {{ school.year_round | yesno | title }}</li>
    <li><b>Address:</b> {{school.address}}</li>
</ul>

<h2>Survey Instructions</h1>
<ul>
    <li>You can complete the survey in multiple sittings and share the link with others. Just be sure to click <strong>SAVE</strong> at the bottom of the survey each time you work on it.</li>
    <li>You can view the saved information entered in the survey on your <strong><a href="{{ school.get_absolute_url }}">School's Profile</a></strong>. Only those with this link can view the profile right now.</li>
    <li>Please complete the survey by the <strong style="color: red;">due date: {{ school.profile.due_date }}</strong>. At this time, the survey will close and will no longer be accessible to you. </li>
    <li>We expect the survey to take 30-60 minutes to complete, depending on how easily accessible the information is to you.</li>
</ul>
<h2>Additional FYI</h2>
<ul>
    <li>You can view a completed <a href="https://durhamschoolnavigator.org/#/school/247/">sample profile here</a></li>
    <li>Moving forward, we will ask annually only for changes you want to make to the existing profile, so the survey will take much less time to complete in the future.</li>
    <li>There is some information such as school size and teacher satisfaction data that will appear in the profile but is not included in the survey because we will collect this information directly from DPI and DPS. The sample profile shows all the information that will appear in the final version of the profile. </li>
    <li>The next phase of the site will include sourcing testimonials from Durham parents. This section is currently empty on the profiles.</li>
</ul>
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for description, fields in form.fieldsets %}
        <h2> {{ description }} </h2>
        {% for field in fields %}
            <div class="form-group">
                {{ field.label_tag }}
                <br />
                {{ field.help_text }}
                {% render_field field placeholder=field.label class+="form-control" %}
                {{ field.errors }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="submit-wrapper">
        <button class="btn btn-primary">Save</button>
    </div>
</form>

{% endblock %}
